<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">

    <link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="cleartype" content="on">

    <!-- Mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="format-detection" content="telephone=no" />
    <!-- Android -->
    <meta name="application-name" content="{{ title }}">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <!-- iOS -->
    <meta name="apple-mobile-web-app-title" content="{{ title }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Indexed Data -->
    <title>{{ title }}</title>
    <meta name="description" content="">

    <!-- FB -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="" />
    <meta property="og:site_name" content="{{ title }}" />
    <meta property="og:description" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="" />
    <meta name="twitter:image:src" content="" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="favicon/favicon.ico">


</head>
<body>
  <div class="container">

    {{#each collections.albums}}
    <div class="clearfix">
      <div class="sm-col sm-col-6">
        <a href="/{{ this.path }}">
           <img class="media-object fit" src="{{replace this.data.artwork_url '-large' '-t300x300'}}" alt="album image">
         </a>
      </div>
      <div class="sm-col sm-col-6">
          <h4 class="media-heading">{{ this.data.title }}</h4>
          <a href="/{{ this.path }}">Details</a>
      </div>
    </div>
	{{/each}}

  </div>

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
