<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ title }}</title>
	<link href="https://unpkg.com/basscss@8.0.2/css/basscss.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
  	<h1>Album Listing</h1>

    {{#each collections.albums}}
    <div class="clearfix">
      <div class="sm-col sm-col-6">
        <a href="/{{ this.path }}">
           <img class="media-object fit" src="{{replace this.data.artwork_url '-large' '-t300x300'}}" alt="album image">
         </a>
      </div>
      <div class="sm-col sm-col-6">
          <h4 class="media-heading">{{ this.data.title }}</h4>
          <a href="/{{ this.path }}">Details</a>
      </div>
    </div>
		{{/each}}

  </div>

  <script type="text/javascript" src="bundle.js"></script>
</body>
</html>
