@import "normalize.css";
@import "basscss";
@import "basscss-btn";
@import "basscss-btn-primary";
@import "basscss-background-colors";
@import "basscss-colors";

body{
    background-color: black;
    min-height: 100%;
}

.bg-lighten-1 { background-color: hsla(0,0%,100%,.0625) }
.bg-lighten-2 { background-color: hsla(0,0%,100%,.125) }
.bg-lighten-3 { background-color: hsla(0,0%,100%,.25) }
.bg-lighten-4 { background-color: hsla(0,0%,100%,.5) }

.soundcloud,
.beatport{
    padding-left: 2.5em;
    border-radius: 20px;
    width: 70%;
    margin: auto;
    display: block;
    text-align: center;
}

.soundcloud span,
.beatport span{
    position: relative;
}

.soundcloud span:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -50px;
    width: 32px;
    height: 32px;
    background-image: url(https://icon.now.sh/soundcloud/32/ffffff);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 32px;
}
.beatport span:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -50px;
    width: 32px;
    height: 32px;

    background-color: white;
    -webkit-mask-image: url(img/beatport_icon.svg);
    mask-image: url(img/beatport_icon.svg);
    -webkit-mask-size: cover;
    mask-size: cover;

    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 32px;
}

.player .media-object{
    display: block;
    margin: auto;
}

.player .btn-primary{
    margin: 1em auto;
}

.container{
    padding: 1em;
}
