@import "normalize.css";
@import "basscss";
@import "basscss-btn";
@import "basscss-btn-primary";
@import "basscss-background-colors";
@import "basscss-colors";

body{
    min-height: 100%;
    font-family: 'Fira Sans', sans-serif;

}

.bg-lighten-1 { background-color: hsla(0,0%,100%,.0625) }
.bg-lighten-2 { background-color: hsla(0,0%,100%,.125) }
.bg-lighten-3 { background-color: hsla(0,0%,100%,.25) }
.bg-lighten-4 { background-color: hsla(0,0%,100%,.5) }

.soundcloud,
.beatport{
    padding-left: 2.5em;
    border-radius: 20px;
    width: 80%;
    max-width: 500px;
    margin: auto;
    display: block;
    text-align: center;
}

.soundcloud span,
.beatport span{
    position: relative;
}

.soundcloud span:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -50px;
    width: 32px;
    height: 32px;
    background-image: url(https://icon.now.sh/soundcloud/32/ffffff);
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 32px;
}
.beatport span:before{
    content: '';
    display: block;
    position: absolute;
    top: -8px;
    left: -50px;
    width: 32px;
    height: 32px;

    background-color: white;
    -webkit-mask-image: url(img/beatport_icon.svg);
    mask-image: url(img/beatport_icon.svg);
    -webkit-mask-size: cover;
    mask-size: cover;

    background-repeat: no-repeat;
    background-position-y: 50%;
    background-size: 32px;
}

.player .media-object{
    display: block;
    margin: auto;
}

.player .btn-primary{
    margin: 1em auto;
}

.container{
    padding: var(--space-2);
}

.ep a{
    text-decoration: none;
}
.list .ep-title{
    max-width: 500px;
    margin: 1.5em auto 3em;
    font-weight: normal;
}
.ep-title{
    letter-spacing: 0.1em;
    line-height: 1.6em;
    margin-bottom: .5em;
}


.player .ep-tracks{
    margin: 0em auto 2em;
    max-width: 500px;
}

.player .ep-track{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 0.8em;
    max-width: 500px;
    text-align: left;
    padding: 0.7em 1.5em;
}

.player .ep-track.active{
    color: gray;
}

.media-player{
    position: relative;
}

.btn:focus{
    border-color: transparent;
    box-shadow: none;
}

.btn-playpause,
.btn-playpause:focus{
    position: absolute;
    border-radius: 50%;
    display: block;
    background: rgba(255,255,255,0.6);
    height: 140px;
    width: 140px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    background-position: 50% 50%;
    background-size: calc(100vw - var(--space-2));
    box-shadow: inset 0px 0px 20px 2px rgb(255, 255, 255);

    opacity: 0;
    transition: opacity 1.2s ease-out;
}

.btn-playpause:before{
    content: '';
    position: absolute; top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,0.2);
    filter: blur(10px) brightness(1.2);
    background-image: inherit;
    background-position: inherit;
    background-size: inherit;
    z-index: -1;
    transition: 1s filter cubic-bezier(0.15, 0.96, 0.43, 0.4);
}

.btn-playpause .pause,
.btn-playpause .play{
    display: inline-block;
    margin-left: 8px;
    margin-top: 3px;
}

.btn-playpause.playing .pause{
    opacity: 0.7;
}

.btn-playpause.paused .pause,
.btn-playpause.playing .play{
    display: none;
}

.btn-playpause.playing:before{
    filter: none;
}
